@import 'vars';
@import 'global';
@import 'link-list';

.js {
    [data-launchy] {
        display: none;
    }
}

.launchy__window {
    background-color: $off-white;
    border: transparent solid 1px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px $black;
    display: none;
    left: 50%;
    max-width: 30em;
    padding: 2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    &--is-visible {
        display: block;

        [data-launchy] {
            display: block;
        }
    }
}

.launchy__content {
    position: relative;
}

.launchy__overlay {
    background-color: $black;
    background-color: $overlay-bg;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;

    &--is-visible {
        display: block;
    }
}

.launchy__close-link {
    background-color: $purple;
    border-radius: 3px;
    color: $white;
    display: inline-block;
    font-size: 1.25em;
    padding: .15em .5em;
    position: absolute;
    right: -1em;
    text-decoration: none;
    top: -1em;

    &:focus,
    &:hover {
        background-color: $dark-purple;
        color: $white;
    }
}

.launchy__title {
    font-family: $main-font;
    font-size: 2.5em;
    margin: 0;
}

.launchy__launch-link {
    color: $white;
    display: inline-block;
    font-family: $main-font;
    font-size: 3.5em;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 2px $black;

    &:focus,
    &:hover {
        color: $white;
        text-decoration: underline;
    }
}
