* {
  box-sizing: border-box; }

body {
  align-items: center;
  background-color: #333;
  background-image: radial-gradient(circle at center, Plum, Purple);
  display: flex;
  font-family: "Oxygen", sans-serif;
  height: 100vh;
  justify-content: center;
  position: relative; }

a {
  color: Purple;
  text-decoration-skip: ink; }
  a:focus, a:hover {
    color: RebeccaPurple; }

hr {
  border: solid transparent 1px;
  border-top: solid Silver 1px;
  height: 0;
  margin: 1.5em 0;
  width: 100%; }

button {
  background-color: Purple;
  border: 0;
  border-radius: 3px;
  color: White;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  padding: .5em; }
  button:focus, button:hover {
    background-color: RebeccaPurple; }

.link-list {
  bottom: 0;
  left: 50%;
  list-style-type: none;
  margin-left: -50%;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.link-list__item {
  display: inline-block;
  margin: 0; }

.link-list__link {
  display: inline-block;
  padding: 10px;
  position: relative;
  text-decoration: none; }
  .link-list__link:focus .link-list__tooltip, .link-list__link:hover .link-list__tooltip {
    bottom: 100%;
    opacity: 1; }

.link-list__icon {
  fill: White;
  height: 32px;
  width: 32px; }

.link-list__tooltip {
  background-color: #333;
  border-radius: 3px;
  bottom: 110%;
  color: White;
  display: inline-block;
  font-size: .75em;
  left: 50%;
  margin-left: -50%;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  transition: all .3s ease;
  width: 100%; }
  .link-list__tooltip::before {
    border: solid transparent 5px;
    border-top: solid #333 5px;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
    width: 0; }

.svg-sprite {
  display: none; }

.js [data-launchy] {
  display: none; }

.launchy__window {
  background-color: GhostWhite;
  border: transparent solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px Black;
  display: none;
  max-width: 30em;
  padding: 2em;
  position: absolute;
  z-index: 9999; }
  .launchy__window--is-visible {
    display: block; }
    .launchy__window--is-visible [data-launchy] {
      display: block; }

.launchy__content {
  position: relative; }

.launchy__overlay {
  background-color: Black;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998; }
  .launchy__overlay--is-visible {
    display: block; }

.launchy__close-link {
  background-color: Purple;
  border-radius: 3px;
  color: White;
  display: inline-block;
  font-size: 1.25em;
  padding: .15em .5em;
  position: absolute;
  right: -1em;
  text-decoration: none;
  top: -1em; }
  .launchy__close-link:focus, .launchy__close-link:hover {
    background-color: RebeccaPurple;
    color: White; }

.launchy__title {
  font-family: "Lobster", sans-serif;
  font-size: 2.5em;
  margin: 0; }

.launchy__launch-link {
  color: White;
  display: inline-block;
  font-family: "Lobster", sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 2px Black; }
  .launchy__launch-link:focus, .launchy__launch-link:hover {
    color: White;
    text-decoration: underline; }
