{
    "env": {
        "browser": true,
        "es6": true,
        "jquery": false,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "block-spacing": ["error"],
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "indent": ["error", 2], // modify this depending on the project
        "key-spacing": ["error", { "beforeColon": false }],
        "keyword-spacing": ["error", { "before": true, "after": true }],
        "linebreak-style": ["error", "unix"],
        "lines-around-comment": ["error", { "beforeLineComment": true, "beforeBlockComment": true }],
        "no-cond-assign": ["error", "always"],
        "no-console": "off",
        "no-extra-parens": ["error"],
        "no-mixed-spaces-and-tabs": ["error"],
        "no-multi-spaces": ["error"],
        "no-trailing-spaces": ["error"],
        "no-unused-vars": ["error", { "vars": "all" }],
        "no-whitespace-before-property": ["error"],
        "object-curly-spacing": ["error", "never"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "semi-spacing": ["error"],
        "space-before-blocks": ["error"],
        "space-in-parens": ["error", "never"],
        "spaced-comment": ["error", "always", { "block": { "balanced": true } }],
        "wrap-iife": ["error", "inside"],

        # ES6 specific
        "no-const-assign": ["error"],
        "no-var": ["error"],
        "prefer-const": ["error"]
    }
}
