// Colors
$black: Black;
$dark-purple: RebeccaPurple;
$light-gray: Silver;
$light-purple: Plum;
$off-black: #333;
$off-white: GhostWhite;
$overlay-bg: rgba(0, 0, 0, .5);
$purple: Purple;
$white: White;

// Typography
$main-font: 'Lobster', sans-serif;
$logo-font: 'Oxygen', sans-serif;
